<a href="https://colab.research.google.com/github/fzambran/EstadisticasCienciaDeDatos/blob/main/Tareas/est_ds_python_4_sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estadística Inferencial II

**Estadísticas para la Ciencia de Datos con Python**</br>
**Escuela de Informática y Telecomunicaciones**</br>
**Duoc UC**

---

### Ejercicios de Práctica

Utilice las distribuciones de probabilidad y test de hipótesis para resolver los siguientes ejercicios. Trabaje con un nivel de significancia de 0.05 si corresponde.

**1.** La información respecto al proceso de vacunación muestra niveles altos de adherencia en Chile. Sin embargo, en países europeos han tenido problemas dado el alto nivel de rechazo a vacunarse. Datos muestran que en Francia el 55 % de los adultos mayores de residencias geriatricas han rechazado vacunarse. Suponga que un TENS ("vacunador") concurre a una residencia geriatrica en Francia, donde residen 35 adultos mayores, con solo 12 dosis.

Suponiendo que cada adulto mayor decide vacunarse o no de manera independiente. ¿Cuál es la probabilidad de que todos los adultos mayores que deseen vacunarse puedan hacerlo?.

In [ ]:
# Responda aquí
from scipy.stats import binom
p_acepta = 1 - 0.55
n = 35
k = 12

binom.cdf(k=k, n=n, p=p_acepta)

0.13435712770650762

**2.** En un supermercado, llegan en promedio 100 clientes por hora, cálcule:
* ¿Cuál es la probabilidad de que lleguen 110 clientes en una hora?
* ¿Cuál es la probabilidad de que lleguen menos de 90 clientes en una hora?
* ¿Cuál es la probabilidad de que lleguen entre 90 y 110 clientes en una hora?

In [ ]:
# Responda aquí
from scipy.stats import poisson
mu = 100
# 1
poisson.pmf(k=110, mu=mu)

0.023422549465837085

In [ ]:
# 2
poisson.pmf(k=89, mu=mu)

0.02253505016072871

In [ ]:
# 3
poisson.cdf(k=110, mu=mu) - poisson.cdf(k=89, mu=mu)

0.7065164768589975

**3.** Considerando el supermercado anterior, ¿Cuál es la probabilidad de que llege un cliente en 30 segundos?

In [ ]:
# Responda aquí
from scipy.stats import expon

expon.cdf(x=30/60/60, scale=1/100)

0.5654017914929217

**4.** Considere la base de datos `ENS_reducida.xlsx` con los resultados de la Encuesta de Salud Aplicada el año 2018. Realice un test de hipótesis para estudiar si existe asociación entre el nivel de educación y ser fumador.

In [ ]:
!wget https://raw.githubusercontent.com/estebanrucan/bases-de-datos/main/ENS_reducida.xlsx

In [ ]:
import pandas as pd

data = pd.read_excel("ENS_reducida.xlsx")
data.head()

,COLESTEROL,HDL,EDAD,FUMA,NEDU,SEXO,PAS,PAD,TALLA,CINTURA,CUELLO,IMC,PESO,DEPORTE,DIABETES
0,161.6146,43.2533,21,No,> 12 ños,Femenino,109.3657,69.7861,159.2240,68.2223,30.5067,21.1469,53.6123,No,No
1,221.9609,45.9553,59,No,8 - 12 años,Masculino,149.1800,89.8402,171.2648,88.1016,40.7788,30.2438,88.7100,No,No
2,254.8755,87.2984,51,No,8 - 12 años,Femenino,139.1653,82.8118,163.5937,110.4856,38.4818,21.5239,57.6042,No,Si
3,187.3437,57.3342,50,No,> 12 ños,Masculino,174.1770,113.4944,166.8728,97.9801,37.8982,30.6329,85.3021,No,No
4,252.3962,31.7201,60,Si,< 8 años,Masculino,150.7024,78.7364,147.6984,81.1719,35.8163,31.3944,68.4862,No,Si

In [ ]:
pd.crosstab(data["FUMA"], data["NEDU"])

NEDU  8 - 12 años  < 8 años  > 12 ños
FUMA
No            125        72        33
Si             69        19        32

In [ ]:
from estyp.testing import chisq_test

chisq_test(data["FUMA"], y = data["NEDU"])

    Pearson's Chi-squared test
    X-squared = 13.8445 | df = 2 | p-value = 0.0010
    alternative hypothesis: true frequencies are not equal to expected frequencies

In [ ]:
# El valor-p indica una discordancia entre H_0 y los datos, por lo que se rechaza H_0. Existe evidencia estadística hacia que el nivel educativo y el hábito de fumar podrían estar asociados.

**5.** Los resultados de la encuesta a nivel poblacional el año 2015 indicaron que el 20% de las personas practicaba al menos un deporte. Estudie si el total de personas que practican al menos un deporte ha aumentado en 2018.

In [ ]:
cuenta_deportistas = data["DEPORTE"].value_counts()
print(cuenta_deportistas)

DEPORTE
No    282
Si     68
Name: count, dtype: int64

In [ ]:
prop_test(cuenta_deportistas, p=0.80, alternative="less")

    1-sample test for equality of proportions with continuity correction
    X-squared = 0.0402 | df = 1 | p-value = 0.5794
    alternative hypothesis: the true proportion is less than 0.8000
    95 percent confidence interval:
     0.000000 0.839422
    sample estimates:
      proportion(s): 0.805714

In [ ]:
# El valor-p indica una concordancia entre H_0 y los datos, por lo que no se rechaza H_0. Existe evidencia estadística hacia que el porcentaje de deportistas en la población es mayor al 20%.

**6.** Estudie si la variabilidad de la presión sistólica en fumadores es menor a la variabilidad de la presión sistólica en no fumadores.

In [ ]:
from estyp.testing import var_test

fumadores = data[data["FUMA"] == "Si"]["PAS"]
no_fumadores = data[data["FUMA"] == "No"]["PAS"]

var_test(x=fumadores, y=no_fumadores, alternative="less")

    F test to compare two variances
    F = 0.6294 | df = {'x': 119, 'y': 229} | p-value = 0.0026
    alternative hypothesis: true ratio of variances is less than 1
    95 percent confidence interval:
     0.000000 0.824607
    sample estimates:
      ratio of variances: 0.629426

In [ ]:
# El valor-p indica una discordancia entre los datos y $H_0$, por lo que se rechaza $H_0$. En otras palabras, hay evidencia estadística hacia que la variabilidad de los puntajes de lectura es menor a la variabilidad de los puntajes de escritura.